[Unit]
Description=Speedtest Exporter
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=speedtest_exporter
Group=speedtest_exporter
ExecStart=/usr/local/bin/speedtest_exporter-0.3.0_linux_amd64

Restart=always

[Install]
WantedBy=multi-user.target
